* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.firstimage {
  display: none;
}

.secondimage {
  display: none;
}

#responsive {
  max-width: 525px;
}

#navbar1 {
  display: none;
}

#navbar2 ul {
  display: none;
}

#navbar2 {
  padding: 2rem;
}

#navbar2 h1 {
  padding-bottom: 2rem;
}
#navbar2 input {
  width: 100%;
  border-radius: 3px;
  border: none;
  background: #f5f5f5;
  padding: 0.9rem;
}

#navbar2 {
  width: 100%;
}

#section1 {
  text-align: left;
  margin-left: 20px;
  width: 70%;
  line-height: 1.9;
  padding-bottom: 2rem;
}

#section1 h1 {
  padding-bottom: 2rem;
}

#section1 p {
  padding-bottom: 2rem;
}

#section1 button {
  color: white;
  background: #00d09c;
  border: none;
  padding: 1rem;
  width: 60%;
  font-size: 1rem;
  border-radius: 5px;
}

#section2 {
  background: #e4faf4;
  text-align: center;
  margin: auto;
  padding-bottom: 1rem;
}

#section2 h1 {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#section2 p {
  padding-bottom: 3rem;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
}

.images img {
  max-width: 100px;
}

#section3 {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
}

#section3 {
  text-align: left;
  padding-left: 1rem;
}

#section3 li {
  padding-left: 2rem;
  padding-bottom: 2rem;
}

#section3ft {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-evenly;
}

#watchvideocontainer p,
i {
  padding-bottom: 2rem;
}

#section3ft i {
  margin-top: 2rem;
  color: #5aca9d;
}

#section3ft h1 {
  margin-bottom: 2rem;
}

#sec3list ul {
  padding-bottom: 2rem;
  line-height: 1.9;
}

#watchvideo {
  color: #5aca9d;
  display: inline-block;
  padding-left: 2rem;
}

#watchvideocontainer {
  font-size: 1rem;
}

#sec3list ul {
  margin-top: 20px;
}

.yogapic {
  height: auto;
  width: 335px;
  align-self: center;
}

#section3 button {
  color: white;
  background: #00d09c;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  height: 3rem;
}

#section4 {
  padding-left: 1rem;
  margin-top: 5rem;
  background: linear-gradient(#e4faf4, #fff);
}

#section4 p {
  padding-top: 2rem;
  padding-bottom: 3rem;
  line-height: 1.9;
}

#section4 button {
  margin-bottom: 2rem;
  color: white;
  background: #00d09c;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
}

#sec4icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}

#sec4icons img {
  margin-top: 2rem;
  width: 152px;
  height: 46px;
}

#section4 h1 {
  padding-top: 4rem;
}

#sec3info2 {
  text-align: center;
  padding-right: 1rem;
}

#section5 h3 {
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 2rem;
}

#footerbuttons {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#footerbuttons button {
  width: 335px;
  height: 52px;
  background-color: #fff;
  color: black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  opacity: 1;
  margin-bottom: 3rem;
}

#footercontact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1rem;
}

#footercontact p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#footercontact h4 {
  padding-bottom: 1rem;
}

#footericons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

#footercontact {
  margin-bottom: 1rem;
}

#navbar2 a {
  text-decoration: none;
  color: #333;
}

#sec3list ul li {
  list-style: none;
  font-size: 14px;
}

#sec3list ul li:before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 35px;
  background: url(/assets/checkboxicon.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -15px;
}

/* Media Queries*/

@media (min-width: 700px) {
  #navbar2 {
    border-top: 1rem solid #e4faf4;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    padding: 1rem;
    text-align: center;
  }

  #navbar2 ul li:hover {
    color: #00d09c;
  }

  #navbar2 ul {
    display: flex;
    list-style: none;
    font-size: 14px;
    margin-top: 2.4rem;
  }

  #navbar2 div {
    display: flex;
  }

  #navbar2 img {
    width: 60px;
    height: 60px;
  }

  #navbar2 a {
    margin-top: 1rem;
    text-decoration: none;
    color: #333;
  }

  #navbar2 div {
    flex: 1;
    text-align: left;
    padding-left: 13rem;
    margin-top: 1rem;
  }

  #navbar2 input {
    width: 13rem;
    height: 30px;
    font-size: 15px;
    margin-top: 2rem;
  }

  #navbar2 li {
    padding-left: 2rem;
  }

  #section1 {
    display: grid;
    grid-template-columns: 60% 20%;
    margin: auto;
  }

  #section1 h1 {
    font-size: 2.5rem;
    padding-bottom: 50px;
  }

  #section1info {
    margin-top: 5rem;
    width: 70%;
  }

  .firstimage {
    display: grid;
    top: 142px;
    left: 757px;
    width: 525px;
    height: 508px;
  }

  #section2 {
    margin-top: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #section2 div {
    width: 60%;
    margin: auto;
    line-height: 1.9;
  }

  #section2 img {
    width: 100px;
    height: 100px;
  }

  #section2 p {
    margin-top: -3rem;
  }

  #sec3list ul li {
    list-style: none;
  }

  #sec3list ul li:before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 35px;
    background: url(/assets/checkboxicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -35px;
  }
  #section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #section3 img {
    width: 627px;
    height: 470px;
  }

  #section3 h1 {
    margin-top: 2rem;
  }

  #section3 p {
    padding-bottom: 1rem;
  }

  #section4 {
    text-align: center;
  }

  #sec4info {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }

  #sec4info div {
    width: 50%;
    margin: auto;
    text-align: center;
  }

  #sec4info2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  #sec4icons {
    margin: auto;
    grid-gap: 1rem;
  }

  #footerbuttons {
    display: none;
  }

  #section5 {
    text-align: center;
  }

  #section5 h3 {
    display: none;
  }

  #watchvideo {
    margin-bottom: 1rem;
  }
}
